Graphing Calculator Requirements

Team Members:
Ken and Daniel

Purpose:
This project will be a graphing calculator that can be used on a computer

Requirements:

General 
1.	Name: platform_os
	Type: constraint 
	Summary: computer will need to run Windows 10
	
2.	Name: display
	Type: functional 
	Summary: show inputs and output results
	
3.	Name: numeric_buttons
	Type: functional
	Summary: 0-9 buttons
	
4.	Name: decimal_button
	Type: functional
	Summary: button to add decimal point

5.	Name: decimal_point
	Type: constraint
	Summary: there can only be one decimal per number
	
6.	Name: negative_button
	Type: functional
	Summary: button to change number from negative to positive and vice versa
	
7.	Name: artithmetic_buttons
	Type: functional 
	Summary: artithmetic functions (+,-,x,/) and equals (=)
	
8.	Name: misc_buttons
	Type: functional
	Summary: exponents, parenthesis, trig, inverse trig, square roots, absolute value, logarithm, factorial, modulus
	
9.	Name: order_of_operations
	Type: constraint
	Summary: have calculator follow order of operations
	
.	Name: infix_operations
	Type: constraint
	Summary: the calculator will work with infix notation	
	
10.	Name: alphabetic keyboard
	Type: functional 
	Summary: keyboard for input on calculator
	
11.	Name: numeric_constants
	Type: functional
	Summary: pi, e
	
12.	Name: trig_mode
	Type: functional
	Summary: radian and degree modes for calculating trig
	
13.	Name: clear_all
	Type: functional
	Summary: clears both standard display and graph display
	
14.	Name: show_error
	Type: functional 
	Summary: show an error when there are not enough arguments for a funciton

.	Name: mode switch
	Type: functional
	Summary: a way to switch between graphing and calculating mode


Standard Mode
1.	Name: matricies
	Type: funcitonal 
	Summary: input and reduce matricies
	
2.	Name: inequalities
	Type: functional 
	Summary: input and show results of inequalities
	
3.	Name: summations
	Type: functional
	Summary: input and solve summations
	
4.	Name: simplify_fractions
	Type: functional
	Summary: simplify a inputted fraction
	
5.	Name: convert_decimal_fraction
	Type: functional 
	Summary: convert a fraction to a decimal and vice versa
	
6.	Name: store_variable
	Type: functional
	Summary: store a number to a variable
	
7.	Name: clear_specific_variable
	Type: functional
	Summary: user can choose which variable to clear
	
8.	Name: clear_all_variables
	Type: functional 
	Summary: clear all the variables that are stored
	
9.	Name: clear_line
	Type: functional 
	Summary: clear the line of input
	
10.	Name: clear_standard
	Type: functional
	Summary: clear everything displayed in standard mode
	
.	Name: default_accuracy
	Type: constrains
	Summary: the default accuracy for functions will be 6 decimal points
	
11.	Name: rounding_accuracy
	Type: functional
	Summary: user can determine how many digits of accuracy they would like to be displayed


Graphing Mode
1.	Name: 2d_graph
	Type: constraint
	Summary: can only graph in 2 dimensions
	
2.	Name: graph_multiple_functions
	Type: functional
	Summary: display multiple functions
	
3.	Name: switch_functions
	Type: functional 
	Summary: switch between which function is being edited
	
4.	Name: zoom
	Type: functional
	Summary: zoom in and out of a graph
	
5.	Name: change_view_interval
	Type: functional
	Summary: change the display over a certain interval
	
6.	Name: show_axes
	Type: functional
	Summary: show and hide axes
	
7.	Name: show_grid_numbers
	Type: functional 
	Summary: show and hide grid numbers
	
8.	Name: find_zero
	Type: functional
	Summary: find the root of a function
	
9.	Name: find_intersection
	Type: functional 
	Summary: find the intersection of two graphs
	
10.	Name: find_min_max
	Type: functional
	Summary: find the min and max of a function
	
11.	Name: display_table
	Type: functional
	Summary: display a table of the graph
	
12.	Name: display_data_points
	Type: functional
	Summary: display data points from a table
	
13.	Name: find_line_of_fit
	Type: functional
	Summary: find the line of best fit for a table of data
	
14.	Name: clear_graph
	Type: functional
	Summary: clear graph and all functions that are displayed










8.	Name:
	Type:
	Summary:
